<html>

<head>
	<title>首页 | lcexpr</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/css/common/content.css"></link>
	<link rel="stylesheet" href="/css/index.css"></link>
	<script src="/js/index.js"></script>
</head>

<body>
	<div class="page">
		<div class="masthead">
			<div class="container">
				<img class="logo" src="/image/logo.png"></img>
				<p class="slogan">简洁而高效的表情云</p>
				<p class="status">崇拜猫、使用象形文字，成为互联网时代的古埃及人</p>
				<input class="idInput" id="idInput" placeholder="输入一段独特的字符"></input>
				<button type="button" onclick="enterButtonOnClick()" class="btn btn-primary enterButton">进入lcexpr!</button>
			</div>
		</div>
	</div>
</body>

</html>