<html>

<head>
	<title>上传 | lcexpr</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/css/common/nav.css"></link>
	<link rel="stylesheet" href="/css/common/content.css"></link>
	<link rel="stylesheet" href="/css/upload.css"></link>
	<script src="/js/common/common.js"></script>
	<script src="/js/upload.js"></script>
    <script src="/js/lib/jquery-1.11.3.js"></script>
    <script src="/js/lib/ajaxfileupload.js"></script>
</head>

<body>
	<div th:include="common/nav :: nav('upload')"></div>
	<div class="content">
		<div class="container">
			<h2 class="title">上传新表情</h2>
			<div class="half-panel-left">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">方法一：将表情从聊天框（或文件夹）中拖到下面的方框中</h3>
					</div>
					<div class="panel-body">
						<div id="drop">>> 拖到这里 &lt;&lt;</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">方法二：复制好表情，然后在下面的方框中粘贴</h3>
					</div>
					<div class="panel-body">	
						<p>还没做!</p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">方法三：在资源管理器中选择你想要的图片</h3>
					</div>
					<div class="panel-body">
						<p>还没做!</p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">方法四：在资源管理器中选择你想要上传的zip文件</h3>
					</div>
					<div class="panel-body">
						<input type="file" id="btnFile" name="btnFile" onchange="zipName.value=this.value;" style="display:none" hidden="hidden" />  
						<input type="text" id="zipName" readonly="readonly" style="width: 300px" />           
						<button onclick="btnFile.click()" style="height: 25px;">选择文件</button>        
						<button onclick="uploadZip()" style="height: 25px;">上传文件</button> 
					</div>
				</div>
			</div>
			<div class="half-panel-right">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">预览</h3>
					</div>
					<div class="panel-body">
						<div id="display"></div>
					</div>
				</div>
				<input id="tagInput" placeHolder="输入标签"></input>
				<button class="btn btn-default" type="submit" onclick="uploadButtonOnClick()">上传</button>
			</div>
		</div>
	</div>
					<div id="status">Drag the files from a folder to a selected area ...</div>
					<div id="list"></div>
	<input style="display:none" id="id" th:value="${idString}"/>
</body>

</html>