<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LaGeBiaoQing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LaGeBiaoQing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <LaGeBiaoQing.Properties.Settings>
            <setting name="IdString" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyRecentlyUsedExprs" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="KeyIsMainFormTopMost" serializeAs="String">
                <value>False</value>
            </setting>
        </LaGeBiaoQing.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LaGeBiaoQing.Properties.Settings>
            <setting name="ApiUrl" serializeAs="String">
                <value>http://115.28.224.94//api</value>
            </setting>
            <setting name="ExprUrl" serializeAs="String">
                <value>http://115.28.224.94//expr</value>
            </setting>
        </LaGeBiaoQing.Properties.Settings>
    </applicationSettings>
</configuration>
